body > div {
    font-family: Rubik Mono One;
}

.placeholder-coin {
    opacity: 0.1;
    filter: grayscale(1);
}

#p1, #p2 {
    width: 50%;
    font-size: calc(max(2vw, 2em));
}
#p1 {
    float: left;
}
#p2 {
    float: right;
}
@media only screen and (max-width: 650px) {
    #scores {width: 100%;}
    #p1, #p2 {
        width: 100%;
        font-size: 1.5em;
    }
    .points-label {float: left; width: 50%; text-align: right;}
    .points {float: right; width: 50%; text-align: left; transform: translateY(-10%);}
}

@media (max-width: 400px) {
    #p1, #p2 {
        width: 100%;
        font-size: 1.5em;
    }
    .points-label {float: left; width: 50%; text-align: right;}
    .points {float: right; width: 50%; text-align: left; transform: translateY(-10%);}
}

.svg-container {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}